.header{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    margin: 25px;
}

.header__cityInput{
    display: flex;
    margin: 20px;
}

.header__cityInput > input{
    width: 50%;
    border: none;
    outline: none;
    margin: 20px;
    height: 50px;
    font-size: 20px;
}

.header__cityInput > Button{
    font-size: 20px;
    height: 50px;
    margin: 20px;
    background-color: rgb(39, 41, 167);
    color: rgb(172, 191, 202);
}

